/* .navbar {
    overflow: hidden !important;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
} */

body { 
    padding-top: 71px;
}

.color-verde{
    color: rgb(0, 237, 179);
}

.color-azul {
    background-color: rgb(45, 51, 77);
}

.container1 {
    background-color: rgb(45, 51, 77);
    color: white;
    padding: 40px 16px;
}

.container2 {
    background-color: rgb(45, 51, 77);
    color: white;
    padding: 80px 16px;
}

.container3 {
    background-color: rgb(45, 51, 77);
    color: white;
    margin-top: -16px;
    padding: 40px 16px;
}

.container4 {
    background-color: rgb(45, 51, 77);
    color: white;
    padding: 40px 16px;
}

.subForm {
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 15px;
}

.formContainer {
    /* background-image: url("https://www.palestinalibre.org/fotos/6055220160331115960553.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background-color: rgb(45, 51, 77);
}

/* #### NAVBAR #### */
nav {
    background-color: rgb(45, 51, 77);
}
.personalColor {
    color: white;
    overflow: hidden !important;
    position: fixed !important;
    top: 0 !important;
}
.navbar, html{
    width: 98.8% !important;
}
.navbar-light .navbar-toggler-icon{ 
    color: rgb(0, 237, 179);
    background-image: none !important;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(0, 237, 179) !important;
}

.navbar-brand {
    width: 10px;
}




.photo {
    width: 30%;
    background-color: rgb(109, 109, 109);
    color: black;
    /* height: 50%; */
}

.macLogo {
    padding: 60px;
    max-width: 100%;
    height: auto;
    border-radius: 40%;
}

.CobOnl {
    padding: 60px;
    max-width: 50%;
    height: auto;
}

.LogoPP {
    padding: 60px;
    width: 50%;
    height: auto;
}

.co, .pp {
    width: 45%;
    height: 200px;
}

.arrow {
    width: 10%;
    height: 200px;
}

/* .fa-arrow-circle-right {
    font-size: 10vw;
} */

@media (max-width: 299px) {
    .fa-arrow-circle-right {
        font-size: 2em;
    }
}

@media (min-width: 300px) and (max-width: 799px) {
    .fa-arrow-circle-right {
        font-size: 2.5em;
    }
}

@media (min-width: 800px) {
    .fa-arrow-circle-right {
        font-size: 5em;
    }
}

/* ### FORMULARIO ### */
.position-inherit {
    position: inherit !important;
}  

.aviso {
    background-color: rgb(0, 237, 179);
    color: rgb(45, 51, 77);
    width: 70%;
    border-radius: 10px;
}

.aviso .btn {
    float: right;
}

table, th, td {
    border: 1px solid  rgb(0, 237, 179);
    text-align: center;
    padding: 20px;
  }

.logincontainer {
    background-color: rgb(45, 51, 77);
    color: rgb(0, 237, 179);
    min-height: 500px;
}

.wppcontent {
    width: 300px;
    height: auto;
    background-color: rgb(56, 68, 124);
    color: rgb(0, 237, 179);
    padding: 20px;
    border-radius: 25px;
    position: inherit !important;
}

.wppcontent:hover {
    width: 300px;
    height: auto;
    background-color: rgb(48, 62, 124);
    color: rgb(0, 255, 191);
    padding: 20px;
    border-radius: 25px;
    position: inherit !important;
}